@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hyperlink {
    cursor: pointer;
    color: rgb(240, 173, 78);

    &:hover {
        color: rgb(180, 123, 78);
        text-decoration: underline;
    }
}

.flex-column {
}

.container {
    background: #f9f9f9;
}

.imgx {
    margin: 5px;
    height: 260px;
}

.fnt-mt-b {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.fnt-mt-l {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
