* {
    margin: 0;
    padding: 0;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hyperlink {
    cursor: pointer;
    color: rgb(240, 173, 78);

    &:hover {
        color: rgb(180, 123, 78);
        text-decoration: underline;
    }
}

.flex-column {
}

.container {
    background: #f9f9f9;
}

.imgx {
    margin: 5px;
}
