@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hyperlink {
    cursor: pointer;
    color: rgb(240, 173, 78);

    &:hover {
        color: rgb(180, 123, 78);
        text-decoration: underline;
    }
}

.flex-column {
}

.container {
    background: #f9f9f9;
}

.imgx {
    margin: 5px;
    height: 260px;
}

.fnt-mt-b {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.fnt-mt-l {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.logout-btn-icn {
    transition: 1s ease;
}

.logout-btn-icn:hover {
    height: 20px;
    width: 20px;
    padding: 2px;
    border: 1px solid white;
    border-radius: 50px;
}

@media only screen and (max-width: 600px) {
    .img-fluid {
        height: 200px !important;
    }
}

.bx-3d {
    box-shadow: 0 2.8px 2.2px rgba(72, 72, 72, 0.034), 0 6.7px 5.3px rgba(72, 72, 72, 0.048), 0 12.5px 10px rgba(72, 72, 72, 0.06),
        0 22.3px 17.9px rgba(72, 72, 72, 0.072), 0 21.8px 33.4px rgba(72, 72, 72, 0.086), 0 50px 80px rgba(72, 72, 72, 0.12);
}

.ps-r {
    position: relative;
    overflow: hidden;
    border-radius: 14px;

    .btn-row {
        display: flex;
        width: 100%;
        margin-top: 5px;
        padding: 0 0.25rem 0 0.25rem;

        .arrow {
            z-index: 10;
            padding: 10px;
            border-radius: 12px;
            transition: 0.3s ease;
            cursor: pointer;
            border: 1px solid rgba(72, 72, 72, 0);

            &:hover {
                border: 1px solid rgba(72, 72, 72, 0.62);
                border-radius: 7px;
            }
        }

        .no-bg {
            background: none;
            padding: 10px;
        }

        .a-right {
            margin-left: auto;
        }
        svg {
            background-color: white;
            color: rgba(72, 72, 72, 0.52);

            border-radius: 5px;
            margin: 0 0 2px 0;
        }
    }

    // &:hover {
    //     svg {
    //         height: 30px;
    //         width: 30px;
    //     }
    // }

    img {
        position: absolute;
        top: 0.25rem;
        display: none;
        left: 0.15rem;
        z-index: 1;
        border-radius: 7px;
        width: 100% !important;
    }
}

.front-img {
    position: unset !important;
    z-index: 5 !important;
    display: block !important;
}
